.Container {
  background-color: white;
  display: inline-flex;
  width: 100%;
  justify-content: center;
}
.main {
  width: 100%;
  height: 100%;
}
.header {
  height: 8rem !important;
  width: 100%;
  background-color: white;
  display: flex;
}
.left {
  height: 100%;
  width: 30%;
  background-color: white;
  padding-top: 5px;
  display: flex;
  align-items: center;
}
.center {
  height: 100%;
  width: 45%;
  display: inline-flex;
  align-items: center;
  background-color: white;
}
.right {
  height: 100%;
  width: 20%;
  display: inline-flex;
  align-items: center;
  background-color: white;
  padding-top: 10px;
}
.userDetails {
  color: rgb(85, 84, 84);
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
  padding: 10px;
}
.logo {
  height: auto;
  width: 100%;
}
.CustomnavBar {
  height: 4rem;
  width: 100%;
  background-color: white;
  z-index: 4;
  padding-right: 20px;
  text-align: right;
  padding-top: 10px;
}
.navBarBtn {
  color: white;
  height: 100%;
  min-width: 10vw;
  background-color: transparent;
  border: none;
  font-size: 14px;
  text-align: center;
}
.navBarBtn:hover {
  background-color: #5ea4ee;
  font-size: 15px;
}
.body {
  background-color: rgb(255, 255, 255);
  width: 100%;
  height: auto;
  min-height: 100vh;
  padding: 0;
}
.subscribersBox {
  width: 100%;
  padding: 10px;
  text-align: center;
}
.subscriberBox {
  height: auto;
  background-color: white;
  padding: 25px;
  border-radius: 10px;
  display: inline-flex;
  justify-content: center;
  margin-bottom: 20px;
  z-index: inherit 1;
}
.selectSubscriber {
  width: 100%;
  height: 80px;
  background-color: white;
  text-align: center;
  padding: 10px;
}
.choice .form-check {
  display: inline-flex;
  margin: 10px;
}
.custom-fab {
  position: fixed;
  z-index: 10;
  bottom: 30px;
  right: 30px;
}
.row {
  padding: 0 !important;
  text-align: center;
  justify-content: center;
}
.form-control {
  height: 2.8rem;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
}
h5 {
  color: #3a74b3;
  margin: 10px;
}
